body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 122, 187);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 20px;
}

.btn {
    background-color: #ffffff;
    color: rgb(15, 15, 15);
    padding: 5px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}


@media only screen and (max-width: 768px) {
    .header_text {
        font-size: 38px;  
        margin-top: 10px;
    }

    .gif_container img {
        max-width: 90%; 
        max-height: 50vh;  
    }

    .buttons {
        margin-top: 50px; 
    }

    .btn {
        padding: 12px 24px; 
        font-size: 14px; 
    }
}

@media only screen and (max-width: 414px) {
    .header_text {
        font-size: 30px;  
        margin-top: 10px;
    }

    .gif_container img {
        max-width: 100%;  
        max-height: 45vh;  
    }

    .buttons {
        margin-top: 40px; 
    }

    .btn {
        padding: 8px 16px; 
        font-size: 12px; 
    }
}
