body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 122, 187);
}

.header_text {
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 400px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #ffffff;
    color: rgb(233, 48, 48);
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;

}


@media only screen and (max-width: 768px) {
    .header_text {
        font-size: 24px;  
        margin-top: 20px;
    }

    .gif_container img {
        max-width: 90%;  
        max-height: 50vh;  
    }

    .buttons {
        margin-top: 50px; 
    }

    .btn {
        padding: 12px 24px;  
        font-size: 14px; 
    }
}


@media only screen and (max-width: 414px) {
    .header_text {
        font-size: 20px;  
        margin-top: 10px;
    }

    .gif_container img {
        max-width: 100%;  
        max-height: 45vh;  
    }

    .buttons {
        margin-top: 40px;  
    }

    .btn {
        padding: 8px 16px; 
        font-size: 12px; 
    }
}
